@model InnoGotchi.MVC.ViewModels.FarmDetailsViewModel

<link rel="stylesheet" href="~/css/FarmOverview.css" asp-append-version="true" />

@if (Model.FarmDetails.Id.ToString() == Context.Request.Cookies["my-farm-id"])
{
    <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">My own farm</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Invite a friend</button>
        </li>
    </ul>
}


<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="container py-3">
            <div class="d-flex flex-column align-items-center ">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">@Model.FarmDetails.Name</h5>
                                <p class="card-text">Pets count: @Model.FarmDetails.PetsCount</p>
                            </div>
                        </div>
                    </div>
                    @foreach (var row in Model.FarmDetails.Pets.Select((item, index) => new { item, index }).GroupBy(_ => _.index / 3, _ => _.item))
                    {
                        <div class="container d-flex">
                            <div class="row align-items-center">
                                @foreach (var pet in row)
                                {
                                    <div class="col">
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">@pet.Name</h5>
                                                <p class="card-text mb-0">Hunger level: @pet.HungerLevel</p>
                                                <p class="card-text mb-0">Thirsty level: @pet.ThirstyLevel</p>
                                                @if (pet.Age == 0)
                                                {
                                                    <p class="card-text mb-0">Age: newborn</p>
                                                }
                                                else
                                                {
                                                    <p class="card-text mb-0">Age: @pet.Age</p>
                                                }
                                                <p class="card-text mb-0">Happyness days count: @pet.HappynessDayCount</p>
                                                @if (pet.IsAlive)
                                                {
                                                    <p class="card-text">Status: Alive</p>
                                                    <a asp-controller="Farm" asp-action="Feed" asp-route-farmId="@Model.FarmDetails.Id" asp-route-petId="@pet.Id" class="btn btn-primary">Feed</a>
                                                    <a asp-controller="Farm" asp-action="GiveADrink" asp-route-farmId="@Model.FarmDetails.Id" asp-route-petId="@pet.Id" class="btn btn-primary">Give a drink</a>
                                                }
                                                else
                                                {
                                                    <p class="card-text">Status: Dead</p>
                                                }
                                                <a asp-controller="Pet" asp-action="PetDetails" asp-route-farmId="@Model.FarmDetails.Id" asp-route-petId="@pet.Id" class="btn btn-primary">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    @if (Model.FarmDetails.Id.ToString() == Context.Request.Cookies["my-farm-id"])
    {
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="container py-3">
                <div class="d-flex flex-column align-items-center ">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="row">
                                <form asp-controller="Farm" asp-action="InviteFriend" method="post">
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">Friend's email:</label>
                                        <input type="text" class="form-control" asp-for="UserForInviting.Email" id="recipient-name">
                                        <input type="submit" class="btn btn-primary mt-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>