@model InnoGotchi.MVC.ViewModels.FarmDetailsViewModel

@{
    ViewData["Title"] = "Farm details";
}

<link rel="stylesheet" href="~/css/FarmOverview.css" asp-append-version="true" />
<div class="align-items-start">
    <div class="row">
        @if (Context.Request.Cookies["my-farm-id"] != null && Model.FarmDetails.Id.ToString() == Context.Request.Cookies["my-farm-id"])
        {
            <div class="col-lg-2">
                <ul class="flex-column nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">My farm</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-statistics-tab" data-bs-toggle="pill" data-bs-target="#pills-statistics" type="button" role="tab" aria-controls="pills-statistics" aria-selected="false">Statistics</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Invite a friend</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link " id="pills-create-tab" data-bs-toggle="pill" data-bs-target="#pills-create" type="button" role="tab" aria-controls="pills-create" aria-selected="false">Create a pet</button>
                    </li>
                </ul>
            </div>
        }
        <div class="col tab-content flex-column" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="container py-3">
                    <div class="d-flex flex-column align-items-center ">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">
                                            @Model.FarmDetails.Name
                                            @if (Model.FarmDetails.Id.ToString() == Context.Request.Cookies["my-farm-id"])
                                            {
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" value="Change">
                                                    Change
                                                </button>
                                            }
                                        </h5>

                                        <p class="card-text">Pets count: @Model.FarmDetails.PetsCount</p>
                                    </div>
                                </div>
                            </div>
                            @foreach (var row in Model.FarmDetails.Pets.Select((item, index) => new { item, index }).GroupBy(_ => _.index / 3, _ => _.item))
                            {
                                <div class="container d-flex">
                                    <div class="row align-items-center">
                                        @foreach (var pet in row)
                                        {
                                            <div class="col">
                                                <div class="card" style="width: 18rem;">
                                                    <div class="card-body">
                                                        <h5 class="card-title text-center">@pet.Name</h5>
                                                        <p class="card-text mb-0">Hunger level: @pet.HungerLevel</p>
                                                        <p class="card-text mb-0">Thirsty level: @pet.ThirstyLevel</p>
                                                        @if (pet.Age == 0)
                                                        {
                                                            <p class="card-text mb-0">Age: newborn</p>
                                                        }
                                                        else
                                                        {
                                                            <p class="card-text mb-0">Age: @pet.Age</p>
                                                        }
                                                        <p class="card-text mb-0">Happyness days count: @pet.HappinessDayCount</p>
                                                        @if (pet.IsAlive)
                                                        {
                                                            <p class="card-text">Status: Alive</p>
                                                            <a asp-controller="Farm" asp-action="Feed" asp-route-farmId="@Model.FarmDetails.Id" asp-route-petId="@pet.Id" class="btn btn-primary">Feed</a>
                                                            <a asp-controller="Farm" asp-action="GiveADrink" asp-route-farmId="@Model.FarmDetails.Id" asp-route-petId="@pet.Id" class="btn btn-primary">Give a drink</a>
                                                        }
                                                        else
                                                        {
                                                            <p class="card-text">Status: Dead</p>
                                                        }
                                                        <a asp-controller="Pet" asp-action="PetDetails" asp-route-farmId="@Model.FarmDetails.Id" asp-route-petId="@pet.Id" class="btn btn-primary">Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
            @if (Model.FarmDetails.Id.ToString() == Context.Request.Cookies["my-farm-id"])
            {
                <div class="tab-pane fade" id="pills-statistics" role="tabpanel" aria-labelledby="pills-statistics-tab">
                    <div class="container py-3">
                        <div class="d-flex flex-column align-items-center ">
                            <div class="card" style="width: 30rem;">
                                <div class="card-body">
                                    <h5 class="card-title text-center">@Model.FarmStatistics.Name</h5>
                                    <p class="card-text mb-0" id="alive-pets">Alive pets count: @Model.FarmStatistics.AlivePetsCount</p>
                                    <p class="card-text" id="dead-pets">Dead pets count: @Model.FarmStatistics.DeadPetsCount</p>
                                    <div class="col-lg-10">
                                        <canvas id="pieChart6" data-alive="@Model.FarmStatistics.AlivePetsCount" data-dead="@Model.FarmStatistics.DeadPetsCount"></canvas>
                                    </div>
                                    <p class="card-text mb-0">Average feeding period: @Model.FarmStatistics.AverageFeedingPeriod days</p>
                                    <p class="card-text mb-0">Average thirst quenching period: @Model.FarmStatistics.AverageThirstQuenchingPeriod days</p>
                                    <p class="card-text mb-0">Average pet's happiness days count: @Model.FarmStatistics.AveragePetsHappinessDaysCount</p>
                                    <p class="card-text">Average pet's age: @Model.FarmStatistics.AveragePetsAge</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="container py-3">
                        <div class="d-flex flex-column align-items-center ">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="row">
                                        <form asp-controller="Farm" asp-action="InviteFriend" asp-route-farmId="@Model.FarmDetails.Id" method="post">
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">Friend's email:</label>
                                                <input type="email" class="form-control" asp-for="UserForInviting.Email" id="recipient-name" required>
                                                <input type="submit" class="btn btn-primary mt-3" value="Invite">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade " id="pills-create" role="tabpanel" aria-labelledby="pills-create-tab">
                    <div class="container py-3">
                        <div class="d-flex flex-column align-items-center ">
                            <div class="card" style="width: 60rem; height: 36rem;">
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <form asp-controller="Farm" asp-action="CreatePet" asp-route-farmId="@Model.FarmDetails.Id" method="post">
                                            <div class="col-sm-3">
                                                <h6 class="mb-1">Name</h6>
                                            </div>
                                            <div class="col-sm-3 text-secondary mb-2">
                                                <input type="text" class="form-control" asp-for="PetForCreation.Name" id="first-name" required maxlength="20">
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Body</h6>
                                                    <select asp-for="PetForCreation.Body" id="body-select" class="form-select mb-2" required>
                                                        <option value="">Select</option>
                                                        <option value="1">Frog</option>
                                                        <option value="2">Ball</option>
                                                        <option value="3">StickMan</option>
                                                        <option value="4">Human</option>
                                                        <option value="5">Dinosaur</option>
                                                    </select>
                                                    <h6 class="mb-0">Eyes</h6>
                                                    <select asp-for="PetForCreation.Eye" id="eye-select" class="form-select mb-2" required>
                                                        <option value="">Select</option>
                                                        <option value="1">Common</option>
                                                        <option value="2">CinemaGlasses</option>
                                                        <option value="3">Mesh</option>
                                                        <option value="4">Single</option>
                                                        <option value="5">BlackGlasses</option>
                                                        <option value="6">PinkGlasses</option>
                                                    </select>
                                                    <h6 class="mb-0">Nose</h6>
                                                    <select asp-for="PetForCreation.Nose" id="nose-select" class="form-select mb-2" required>
                                                        <option value="">Select</option>
                                                        <option value="1">Duck</option>
                                                        <option value="2">Cow</option>
                                                        <option value="3">Pig</option>
                                                        <option value="4">Common</option>
                                                        <option value="5">Dimond</option>
                                                        <option value="6">Bull</option>
                                                    </select>
                                                    <h6 class="mb-0">Mouth</h6>
                                                    <select asp-for="PetForCreation.Mouth" id="mouth-select" class="form-select mb-2" required>
                                                        <option value="">Select</option>
                                                        <option value="1">Vampire</option>
                                                        <option value="2">SpanchBob</option>
                                                        <option value="3">Tongue</option>
                                                        <option value="4">Common</option>
                                                        <option value="5">Tooth</option>
                                                    </select>
                                                    <div class="col-sm-6 text-secondary">
                                                        <input type="submit" class="btn btn-primary mt-3" value="Create">
                                                    </div>
                                                </div>
                                                <div class="col-lg-9">
                                                    <div class="flex-column position-relative d-flex col mb-4">
                                                        <img id="body" />
                                                        <img id="eyes" style="max-width: 20%; margin-left: 32%; margin-top: 15%" class="position-absolute" />
                                                        <img id="nose" style="max-width: 8%; margin-left: 38%; margin-top: 26%" class="position-absolute" />
                                                        <img id="mouth" style="max-width: 19%; margin-left: 33%; margin-top: 28%" class="position-absolute" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change farm name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="Farm" asp-action="UpdateFarm" asp-route-farmId="@Model.FarmDetails.Id" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" asp-for="FarmForUpdate.Name" id="recipient-name" required maxlength="20">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Change" />
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="~/js/chart.js" ></script>
<script src="~/js/farmDetails.js"></script>
