@model InnoGotchi.MVC.Models.Farm.FarmStatisticsDto

<link rel="stylesheet" href="~/css/FarmOverview.css" asp-append-version="true" />

<div class="container py-3">
    <div class="d-flex flex-column align-items-center ">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title text-center">@Model.Name</h5>
                <p class="card-text mb-0" id="alive-pets">Alive pets count: @Model.AlivePetsCount</p>
                <p class="card-text" id="dead-pets">Dead pets count: @Model.DeadPetsCount</p>
                <div class="col-lg-10">

                    <canvas id="pieChart6" data-alive="@Model.AlivePetsCount" data-dead="@Model.DeadPetsCount"></canvas>

                </div>
                <p class="card-text mb-0">Average feeding period: @Model.AverageFeedingPeriod</p>
                <p class="card-text mb-0">Average thirst quenching period: @Model.AverageThirstQuenchingPeriod</p>
                <p class="card-text mb-0">Average pet's happiness days count: @Model.AveragePetsHappinessDaysCount</p>
                <p class="card-text">Average pet's age: @Model.AveragePetsAge</p>
            </div>
        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script> 
<script src="~/js/chart.js"></script>